@tailwind base;
@tailwind components;
@tailwind utilities;

*, *:before, *:after {
    box-sizing: border-box;
    /* border:1px solid red; */
}

/* background */
.welcome{
    background-image: url('../img/sunnyside-agency-landing-page-main/images/desktop/image-header.jpg');
    background-size: 750px 100%;
    background-repeat: no-repeat;
    background-position: bottom;
}
/* .cereza{
    background-image: url('/img/sunnyside-agency-landing-page-main/images/desktop/image-graphic-design.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 600px;
}
 */
@media screen and (min-width: 400px) {
    /* background */
    .welcome{
        background-size: cover;
    }
}